#detail_layer {
    pointer-events: none;
    z-index: 10;
    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: #0006;
    transition: opacity .15s ease-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;

    &.open {
        pointer-events: auto;
        opacity: 1;
    }

    &>#detail_container,
    &>#menu_box {
        position: relative;
        box-shadow: 0 10px 40px #0004;
        background-color: #888;
        width: min(100%, 880px);
        border-radius: 12px;

        overflow: hidden;
    }

    &>#detail_container {
        height: min(70vh, calc(100vh - 36px));

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &>img#detail_blurbg {
            position: absolute;
            width: 100%;
            height: 100%;
            filter: blur(70px) brightness(.7);

            pointer-events: inherit;
        }

        &>#detail_column_wrapper {
            pointer-events: inherit;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 8px;

            box-sizing: border-box;
            padding: 8px;

            width: 100%;
            height: 100%;

            overflow: hidden;
            background-color: #fff8;
            color: #000c;

            &>#detail_title {
                position: relative;
                height: 24px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 100%;

                &>span {
                    font-weight: bold;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    -webkit-user-select: none;
                    user-select: none;
                    font-size: 1rem;
                }

                &>.close_btn {
                    position: relative;
                    width: 22px;
                    height: 22px;
                    padding: 4px;
                    box-sizing: border-box;
                    border-radius: 50%;
                    backdrop-filter: brightness(1.2);
        
                    display: flex;
                    align-items: center;
                    justify-content: center;
        
                    -webkit-user-select: none;
                    user-select: none;
        
                    transition: all .1s ease-out;

                    &:hover {
                        backdrop-filter: brightness(1.3);
                        box-shadow: 0 2px 6px 0 #0002;
                    }
                }
            }
    
            &>#item_detail {
                position: relative;
                height: calc(100% - 30px);
                width: 100%;

                display: grid;
                grid-template-columns: 1fr 3fr;
                gap: 8px;

                &>#item_detail_info,
                &>img#item_detail_cover {
                    position: relative;
                    width: 100%;
                    border-radius: 6px;
                    box-sizing: border-box;
                    /* max-height: 60vh; */
                    backdrop-filter: brightness(1.1);
                }
                
                &>img#item_detail_cover {
                    border: 6px solid transparent;
                }
                
                &>#item_detail_info {
                    padding: 6px 0 6px 6px;
                    /* height: 60vh; */
                    overflow-x: hidden;
                    overflow-y: scroll;
                    overscroll-behavior: contain;
                    scrollbar-width: thin;
    
                    &>#item_detail_cnname,
                    &>#item_detail_name {
                        position: relative;
                        font-size: 1.1rem;
                        display: inline-block;
                        box-sizing: border-box;
                        font-weight: bold;
                        color: #000;

                        padding-right: 6px;
                    }

                    & .word_block {
                        font-size: 0.95rem;
                        padding: 1px 6px;
                        display: inline-block;
                        box-sizing: border-box;
                        background-color: #fffa;
                        box-shadow: 0 1px 1.5px #0004;
                        margin: 6px 6px 0 0;
                        font-weight: bold;
                        border-radius: 5px;
                        word-break: break-all;
                        cursor: text;

                        &.tag {
                            border-radius: 12px;
                            box-shadow: 0 1px 1.5px var(--skyblue-A);
                            color: var(--skyblue);
                        }

                        &>.word_block_head {
                            color: var(--themecolor);
                            font-weight: bolder;

                            &::selection {
                                background-color: var(--themecolor-A) !important;
                            }
                        }

                        &>.word_block_tail {
                            font-size: 0.60rem;
                            padding: 0 0 0 2px;
                            margin: 0;
                            color: var(--skyblue);

                            &::selection {
                                background-color: var(--themecolor-A) !important;
                            }
                        }

                        &::selection {
                            background-color: var(--themecolor-A) !important;
                        }
                    }
                }
            }
    
        }
    }

    &>#menu_box {
        height: 34px;
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        background-color: #ffffff55;
        backdrop-filter: blur(70px) brightness(1.1);

        &>.box_item {
            -webkit-user-select: none;
            user-select: none;
            flex-grow: 1;
            box-sizing: border-box;
            height: 100%;
            font-size: 1rem;
            border-radius: 12px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-weight: bold;
            color: #000c;
            transition: all .1s ease-out;

            &:hover {
                backdrop-filter: brightness(1.3);
                background-color: #ffffff11;
                color: #000;
            }

            &[value="5"] {
                color: #911;
            }

            &[value="0"] {
                color: #048;
            }
        }
    }

    @media screen and (orientation: portrait) {
        gap: unset;

        &>#detail_container {
            height: calc(100vh - 34px);
        }

        &>#detail_container,
        &>#menu_box {
            border-radius: 0;
            width: 100%;
        }
    }
}