:root {
    /* colors */
    --bg-color: #eee;
    --bg-color-A: #eee4;
    --text-shadow-color: #0008;
    --shadow-color: #0004;
    --border-color: #0002;

    --theme-color: #3582E9;
    --theme-color-A: #3582E926;

    --rank-bg: #f7d78b;
    --rank-bg-A: #f7d78b66;
    --score-bg: #64eab6;
    --score-bg-A: #64eab666;

    /* length */
    --length-max-s: min(.1vw, 1px);
    --length-sss: min(.3vw, 3px);
    --length-ss: min(.5vw, 5px);
    --length-s: min(1vw, 10px);
    --length-m: min(1.2vw, 12px);
    --length-l: min(1.45vw, 14.5px);
    --length-ll: min(1.7vw, 17px);

    /* border-radis */
    --border-radius-s: min(.4vw, 4px);
    --border-radius-m: min(.6vw, 6px);
    --border-radius-l: min(1.2vw, 12px);
}

body {
    margin: 0;
    font-family: PingFang SC, PingFang TC, Helvetica, sans-serif;

    background-color: var(--bg-color);
}

input[type="text"],
button {
    background-color: #0001;
    padding: 6px 4px;
    border-radius: 4px;
    border: 0;
    box-shadow: none;
    outline: 0;
    font-weight: bold;

    transition: all .2s ease-in-out;

    &#access_token_inupt {
        width: 25vw;
    }

    &:hover {
        background-color: #0002;
    }
}

section#title {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    padding: 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--bg-color-A);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

section.card {
    position: relative;
    width: 98vw;
    margin: var(--length-l) 1vw 0 1vw;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
    border-radius: var(--border-radius-s);

    &>.card_bar {
        position: relative;
        width: 100%;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        
        font-weight: bold;
        -webkit-user-select: none;
        user-select: none;
        color: var(--theme-color);
        font-size: var(--length-ll);

        border-bottom: var(--length-max-s) solid var(--border-color);
        padding: var(--length-m) var(--length-m) var(--length-m) var(--length-m);
    }

    &>.items_row {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: var(--length-m) var(--length-m) 0 var(--length-m);

        display: flex;
        gap: var(--length-m);

        overflow: auto;
    }
}

/* calendar */
section#calendar {
    top: 0;
    left: 0;
    margin-top: calc(40px + var(--length-l));

    &>#calendar_bar {
        overflow: auto;
        gap: var(--length-m);

        &>div {
            flex-shrink: 0;
        }
    }

    &>#calendar_wrapper {
        box-sizing: border-box;
        position: relative;

        display: flex;
        gap: var(--length-m);
        width: 100%;
        overflow: auto;
    }
}

.item {
    position: relative;
    flex-shrink: 0;
    margin: 0 0 var(--length-m) 0;
    width: min(30vw * .6, 180px);
    height: min(40vw * .6, 240px);
    background: linear-gradient(var(--text-shadow-color), var(--theme-color-A), var(--text-shadow-color));;
    overflow: hidden;
    border-radius: var(--border-radius-m);
    box-shadow: 0 var(--length-sss) var(--length-ss) var(--shadow-color);
    box-sizing: border-box;
    /* border: 1px solid transparent; */
    transition: all .2s ease-out;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid var(--theme-color); */
    /* transform: scale(1.03); */
    
    &>.desp {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        font-size: var(--length-l);
        text-align: center;
        padding: var(--length-max-s);
        box-sizing: border-box;
        max-height: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-shadow: 0 0 var(--length-ss) var(--text-shadow-color);
        background: linear-gradient(#0000, #0006);
        backdrop-filter: blur(18px);
        color: #fff;
        transition: all .3s ease-out;
        
        &:hover {
            white-space: unset;
            /* font-size: var(--length-m); */
            background: linear-gradient(#0004, #0008);
            text-align: start;
        }
        
        & > br + .name {
            font-size: var(--length-m);
            font-weight: bold;
        }
    }
    
    
    & .rank,
    & .score {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--rank-bg);
        font-size: var(--length-l);
        font-weight: 900;
        padding: 0 var(--length-sss);
        color: #000;
        text-shadow: 0 0 var(--length-ss) var(--text-shadow-color);
        border-radius: 0 0 var(--border-radius-m) 0;
    }
    
    & .score {
        background-color: var(--score-bg);
        top: 0;
        left: unset;
        right: 0;
        border-radius: 0 0 0 var(--border-radius-m);
    }
    
    &>img {
        width: 100%;
        transition: transform .2s ease-out;
    }

    &:hover > img {
        transform: scale(1.06);
    }
}

input[type='radio'] {
    display: none;

    &+label {
        z-index: -1;
        background-color: var(--theme-color-A);
        border-radius: var(--border-radius-m);
        padding: var(--length-sss) var(--length-m);
        margin: 0;
        transition: all .1s ease-out;

        &:hover {
            background-color: var(--theme-color);
            color: #fff;
        }
    }

    &:checked+label {
        background-color: var(--theme-color);
        color: #fff;
    }
}